extends layout 

block content 
    h1= title 
    ul 
        for brand in brand_list 
            li.text-item 
                a(href=brand.url) #{brand.name}
        
        else 
            li.text-item No brands found