extends layout 

block content 
    h1= title 
    ul 
        for brand in brand_list 
            li 
                a(href=brand.url) #{brand.name}
        
        else 
            li No brands found