doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul 
      li 
        a(href = '/') Home
      li 
        a(href = '/brands') Brands 
      li
        a(href = '/products') Products 
      li
        a(href = '/categories') Categories

    ul
      li 
        a(href = '/products/create') Add New Product
      li 
        a(href = '/brands/create') Add New Brand
      li 
        a(href = '/categories/create') Add New Category
    block content
