extends layout 

block content 
    h1= title 
    ul.product-list 
        for product in product_list 
            li.text-item 
                div.product-group
                    a(href=product.url) #{product.name}
                    p by #{product.brand.name}
        
        else 
            li No products found